.table_teclado tr td
{

	background: linear-gradient(to right,#0D47A1,#1565c0);
	color: white;
	padding: .5em .7em;
	cursor: pointer;
	border-radius: 10px;
	font-family: Arial;
	font-size:40px;
	border: 1px  #757575;
    max-width: 10px;
	position: relative;

}

.table_teclado tr td:hover
{
	background: #0D47A1;
}

.btn_delete
{
	position: absolute;
	left: .1em;
	bottom: .1em;
	width: 19px;
}

.round
{
	border-radius: 15px;
}
